<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Development</key>
	<dict>
		<key>APIEndpointURL</key>
		<string>Development API Enpoint</string>
		<key>loggingLevel</key>
		<string>Log level Dev</string>
	</dict>
	<key>Staging</key>
	<dict>
		<key>APIEndpointURL</key>
		<string>Staging API Enpoint</string>
		<key>loggingLevel</key>
		<string>Log level Stg</string>
	</dict>
	<key>Production</key>
	<dict>
		<key>APIEndpointURL</key>
		<string>Production API Enpoint</string>
		<key>loggingLevel</key>
		<string>Log level Prod</string>
	</dict>
</dict>
</plist>
